extends layout

block content
	div.content-container
		div.profileInfo
			div.imgContainer
				img(src=authorProfilePicSrc).profilePic
			div.basicInfo
				h2 #{authorName}
				p
					'I am a developer'