extends layout

block head
	title #{blog.title} | Cormac McCann

block banner
	- var bannerTitle = blog.title
	include ./includes/banner

block content
	div.blog-container.col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2
		
		div.blog-body !{blog.body}
		span By: #{blog.author}
		br
		span Posted: #{blog.date}