extends layout

block head
	title #{blog.title}

block banner
	- var bannerTitle = blog.title
	include ./includes/banner

block content
	div.blog-container.col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2
		span Posted: #{blog.date}
		span By #{blog.author}
		div.blog-body !{blog.body}