extends layout

block head
	title Example blog built using Contentful and Express.js| Cormac McCann

block content
	div.recent-blogs.col-sm-8.col-sm-offset-2
		each blog in blogs
			div.blogPreview
				div.previewImg
					picture
				div.blogText
					h2 #{blog.title} 
					a(href='/post/'+blog.slug) Read More