extends layout

block content
	div.content-container
		div.intro-banner
			div.banner-pic-container

			div.banner-info
				h1 Welcome To My Blog
				p

		div.recent-blogs
			each blog in blogs
				div.blogPreview
					div.previewImg
						picture
					div.blogText
						h2 #{blog.title} 