doctype html
html
	head
		block head
			title= 'Default Title'
		meta(name='description', content='A simple blog example built using Contentful and express js.')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='/assets/css/bootstrap.min.css')
		link(rel='stylesheet', href='/assets/css/bundle.min.css')

	body
		include ./includes/navigation
		include ./includes/banner

		div.content-container.row
			block content
		
		include ./includes/footer
