body {
	margin: 0;
	font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
}

.nav {
	width: 100%;
	background: #303030;
	color: #fff;
	.nav-logo {
		display: inline-block;
		width: 30%;
		span {
			top: -25px;
    		position: relative;
    		margin: .5em;
		}
	}
	.nav-menu {
		width: 70%;
		display: inline-block;
		ul {
			list-style-type: none;
			float: right;
			right: 50px;
    		position: relative;
			li {
				display: inline-block;
				float: left;
				margin-left: 20px;
				a {
					color: #fff;
					text-decoration: none;
					&:hover {
						color: green;
					}
				}
			}
		}
	}

}

/***
*
* CONTENT CONTAINER
*
***/
.content-container {
	width: 90%;
	margin: 0 auto;
	.recent-blogs {
		position: relative;
		top: 5%;
		.blogPreview {
			position: relative;
			width: 90%;
			margin: 0 auto;
			padding: 1.5em;
			box-shadow: -5px 5px 15px #888888;
			border-radius: 10px;
			margin: 1em;
		}
	}
}

/***
*
* PROFILE INFO
*
***/
.profileInfo {
	.imgContainer {
		display: inline-block;
		.profilePic {
			height: auto;
			width: 4em;
		}
	}
	.basicInfo {
		display: inline-block;
	}
}

footer {
	position: relative;
    bottom: 0;
    text-align: center;
    width: 100%;
 	background: #303030;
    color: #fff;
    padding: 1em;
}