/*** styling vars ***/
$navColor: #fff;

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #545454;
}

/*** NAVIGATION ***/
.nav {
	position: absolute;
	z-index: 1;
	width: 100%;
	.nav-container {
		position: relative;
    	top: 60%;
    	padding-top: 1em;
    	padding-bottom: 1em;
		a {
			color: $navColor;
		}
		.nav-title {
			display: inline-block;
			color: $navColor;
		    text-transform: uppercase;
		    margin-left: 2em;
		    font-weight: 900;
		    font-size: 1.5em;
		}
		ul {
			list-style-type: none;
			display: inline-block;
			float: right;
			li {
			    display: inline;
			    padding: 1.5em;
			    text-transform: uppercase;
			    font-size: 1.5em;
			    font-weight: 800;
			}
		}	
	}

}

/*** BANNER ***/
.banner {
	height: 20em;
	position: relative;
	background: url('../img/snow.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;

    // h1 in banner
    .banner-title {
    	color: $navColor;
    	position: relative;
    	margin: 0 auto;
    	top: 50%;
    	font-size: 4em;
    }
}

/*** CONTENT CONTAINER ***/
.content-container {

}

/*** RECENT BLOGS ***/

/*** BLOG POST BODY ***/
.blog-body {
	text-align: justify;
	p {
		font-size: 1.5em;
    	font-weight: 800;
	    padding-bottom: .5em;
	    padding-top: .5em;
	}
}

/*** FOOTER ***/
footer {
	.footer-content {
		border-top: 2px solid #0841c6;
		text-align: center;
		padding: 1.5em;
		margin-top: 1em;
	}
}
